<div class="header"><h2>Ventas</h2></div>
<div class="container">
  <div class="row" style="height: 320px">
    <div class="col-md-8 col-sm-8">
      <div class="header"><h4>Lista de ventas</h4></div>
      <div style="height: 300px; overflow-y:scroll">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantiad</th>
              <th>Costo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in productosVenta">
              <td>{{p.nombre}}</td>
              <td>{{p.cantidad}}</td>
              <td>${{p.precio * p.cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h4>Cantitad de items:</h4>
        </div>
        <div class="col-md-4 col-sm-4">
          <h4>{{totalItems}}</h4>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h4>Total:</h4>
        </div>
        <div class="col-md-4 col-sm-4">
          <h4>${{totalVentas}}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="header"><h4>Lista de productos</h4></div>
      <div><input type="text" ng-model="filtraProductos" placeholder="Buscar producto..."/></div><br>
      <div style="height: 420px; overflow-y:scroll">
        <table class="table table-hover">
          <tbody>
            <tr style="cursor: pointer;" ng-click="agregar(p)" ng-repeat="p in productosStock|filter:filtraProductos">
              <td>{{p.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <i class="btn btn-success" onclick="alert('Por favor, entregue su tarjeta de credito.');">Comprar</i>
  </div>
</div><br>
